<div class="container">
  <h2 class="text-center">Employee List</h2>
  <table class="table table-striped table-hover border border-secondary">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Address</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let employee of employees$ | async'>
        <td>{{employee.empName}}</td>
        <td>{{employee.empSalary}}</td>
        <td>{{employee.empAddress.city}}, {{employee.empAddress.state}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['edit', employee.id]" routerLinkActive="router-link-active" >Edit</button>
          <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button routerLink="add" class="btn btn-secondary">Add Employee</button>
</div>

<router-outlet></router-outlet>